#root{
  display: flex;
  flex-flow: column;
  justify-content: center;

}

.card{
  display: flex;
  flex-flow: row;

  height: 90px;
}
.cardImg{
  display: inline;

}
.cardTextInfo{
  display: inline;
  
}

.pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pagination span {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0.3rem;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 50%;
}

.page-changer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.pagination span.active {
  background-color: black;
  color: white;
}

.pagination span:hover:not(.active) {
  background-color: #ddd;
}