#root{
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  width: 60%;
  margin:auto;
}

.logo{
  height: 50px;
}

nav{

  display:flex;
  flex-flow:row;
  justify-content: space-between;
}

.item-navegacao{
  text-decoration: none;
}

.nomesBusca{

}

.resultadosDaBusca{
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  display: none;
}



.card-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;

}

.card-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

ul{

  padding-left:0;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  list-style-type:none;
}

li{
  margin-right: 30px;
}

.caixa-buscar{
  width: 120px;
  margin-right:10px;
}

.card{
  border: black 1px solid;
  margin: 10px;
  padding: 10px;

}

.card-inner-area{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.card-img{
  width: 100px;
  height: 100px;
}
.card-text-info{
  margin:10px;
  padding-top: 5px;
  text-transform:uppercase;
}
.card-id{
  font-weight: bold;
  font-size: 32px;
}
.blue-button{
  background-color: #388cf7;
  border: none;
  border-radius: 12px;
  color: white;
  height: 60px;
  padding: 10px 20px;
  font-size: 17px;
  margin-top: 20px;
  margin-right: 15px;
}

.blue-button-small{
  background-color: #388cf7;
  border: none;
  border-radius: 12px;
  color: white;
  height: 30px;
  padding: 10px 10px;
  font-size: 17px;
  margin-top: 20px;
  margin-right: 15px;
}

#loading{
  width: 1000px;
  height: 4000px;
  background-color: white;

}
#loading-image{
  margin:20% 20% 0 20%;
}

#pagina-carregando{
margin:0 20%;
align-items: center;
}

.pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pagination span {
  color: black;
  float: left;
  padding: 1px 1.9px;
  text-decoration: none;
  margin: 0.2rem;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 50%;
}

.page-changer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.pagination span.active {
  background-color: black;
  color: white;
}

.pagination span:hover:not(.active) {
  background-color: #ddd;
}
