/* .card {
    min-height: 200px;
    min-width: 500px;
    margin: 10px;
    padding: 60px;
    
  } */
  
  li {
    list-style: none;
    float: right;
  }
  
  /* .card-body {
    min-width: 50%;
  } */